<!DOCTYPE HTML>
<html>
<head>
<title>修改商品</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Shoppy Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->

<link href="<?php echo __ADMIN_CSS__ ;?>bootstrap.css" rel="stylesheet" type="text/css" media="all">
<!-- Custom Theme files -->
<link href="<?php echo __ADMIN_CSS__ ;?>style.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="<?php echo __ADMIN_CSS__ ;?>styles.css" rel="stylesheet">
<!--js-->
<script src="<?php echo __ADMIN_JS__ ;?>jquery-2.1.1.min.js"></script> 
<!--icons-css-->
<link href="<?php echo __ADMIN_CSS__ ;?>font-awesome.css" rel="stylesheet"> 
<!--Google Fonts-->
<!--<link href='http://fonts.useso.com/css?family=Carrois+Gothic' rel='stylesheet' type='text/css'>-->
<!--<link href='http://fonts.useso.com/css?family=Work+Sans:400,500,600' rel='stylesheet' type='text/css'>-->
<!--//skycons-icons-->
</head>
<body>	
<div class="page-container">	
   <div class="left-content">
	   <div class="mother-grid-inner">
           <!--顶部导航代码开始-->
           <?php include_once __ADMIN_COMMON__."main_top.html";?>
           <!--顶部导航代码结束-->
	</div>

<!-- script-for sticky-nav -->
		<script>
		$(document).ready(function() {
			 var navoffeset=$(".header-main").offset().top;
			 $(window).scroll(function(){
				var scrollpos=$(window).scrollTop();
				if(scrollpos >=navoffeset){
					// $(".header-main").addClass("fixed");
				}else{
					$(".header-main").removeClass("fixed");
				}
			 });

		});
		</script>
		<!-- /script-for sticky-nav -->
<!--inner block start here-->
<!--<div class="inner-block">-->


          <div class="clearfix"> </div>
   <!--</div>-->
<!--</div>-->
       <script src="<?php echo __ADMIN_JS__ ;?>jquery-1.12.4.js" type="text/javascript"></script>
       <script type="text/javascript">

           function loadGoodstyleList() {
               $("#clear").siblings().remove();

               $.getJSON("index.php?g=admin&c=addgoods&a=getgoodstype", function (result) {

                   var options = "";
                   for (var i = 0; i < result.length; i++) {
                       options += "<option  value=" + result[i].GoodstypeId + ">" + result[i].GoodstypeName + "</option>";
                   }
                   $("#goodstype").append(options);
               })
           }
           function loadColthesList(goodstypeId) {

               $("#clearr").siblings().remove();

               $.getJSON("index.php?g=admin&c=addgoods&a=getclothes",{goodstypeId:goodstypeId}, function (result) {

                   var options = "";
                   for (var i = 0; i < result.length; i++) {
                       options += "<option  value=" + result[i].ClothesNo + ">" + result[i].ClothesName + "</option>";
                   }
                   $("#clothes").append(options);
               })
           }

           function loadColorsizeList(clothesNo) {

               $("#clearrr").siblings().remove();

               $.getJSON("index.php?g=admin&c=addgoods&a=getcolor",{clothesNo:clothesNo}, function (result) {

                   var options = "";
                   for (var i = 0; i < result.length; i++) {
                       options += "<option  value=" + result[i].GcolorId + ">" + result[i].GcolorGame + "</option>";
                   }
                   $("#goodscolor").append(options);
               }),
                   $("#clearrrr").siblings().remove();
                   $.getJSON("index.php?g=admin&c=addgoods&a=getsize",{clothesNo:clothesNo}, function (result) {

                       var options = "";
                       for (var i = 0; i < result.length; i++) {
                           options += "<option  value=" + result[i].GsizeId + ">" + result[i].GsizeGame + "</option>";
                       }
                       $("#goodssize").append(options);
                   })

           }


           $(function () {
               loadGoodstyleList();
               loadColthesList();
               loadColorsizeList();

           });


       </script>

       <div class="row">
           <div class="col-md-12">
               <div class="panel panel-default">
                   <div class="panel-heading">修改商品</div>
                   <div class="panel-body">
       <fieldset>
           <legend>修改商品信息</legend>
           <form action="index.php?g=admin&c=Updategoods&a=revisegoods" method="post"enctype="multipart/form-data">
               <input type="hidden" name="MAX_FILE_SIZE" value="1000000">
               <input type="hidden" name="gsid" value="<?php echo $this->data['updategoods']['GsId'];?>">

               <div class="form-group">
                   <div class="alert alert-success" id="alertmess" role="alert">欢迎添加商品按以下操作</div>
               </div>
               <div class="form-group">
                   <p> 商品类别：
                   <select name="goodstypeId" id="goodstype"onchange="loadColthesList(this.value)" required>
                       <option value="-1" id="clear">请选择商品类别</option>
                   </select>
                   </p>
               </div>

               <div class="form-group">
               <p>
               商品系列：<?php echo $this->data["updategoods"]['ClothesNo'];?>
                   <select name="clothesNo" id="clothes"  onchange="loadColorsizeList(this.value)" required>
                       <option value="-1" id="clearr">请选择商品系列</option>
                   </select>
               </p>
               </div>

               <div class="form-group" >
               <p>商品颜色：<?php echo $this->data["updategoods"]['GcolorId'];?>
                   <select name="gcolorId" id="goodscolor" required>
                       <option value="-1" id="clearrr">请选择商品颜色类别</option>
                   </select>
               </p>
               </div>
               <div class="form-group">
                   <p>商品尺码：<?php echo $this->data["updategoods"]['GsizeId'];?>
                       <select name="gsizeId" id="goodssize"  required>
                           <option value="-1" id="clearrrr">请选择商品尺码类别</option>
                       </select>

                   </p>
               </div>
               <div class="form-group">
                   <p>原商品价格：<?php echo $this->data["updategoods"]['GsPrice'];?></p>
               <p>商品价格：<input type="text" name="gsPrice" required placeholder="请填写价格"></p>
               </div>
               <div class="form-group">
                   <p>原商品库存：<?php echo $this->data["updategoods"]['GsNum'];?></p>
               <p>商品库存：<input type="text" name="gsNum"required placeholder="请填写库存"></p>
                   <p>请选择要上传的文件：<input type="file" name="myfile"></p>
               </div>

               <p><input type="submit" name="sub" value="添加"></p>
           </form>
       </fieldset>
                   </div>
               </div>
           </div>
       </div><!--/.row-->

<!--inner block end here-->
       <!--底部导航代码开始-->
       <?php include_once __ADMIN_COMMON__."main_rights.html";?>
       <!--底部导航代码结束-->
</div>

<!--slider menu-->
    <!--边栏导航代码开始-->
    <?php include_once __ADMIN_COMMON__."main_aside.html";?>
    <!--边栏导航代码结束-->
	<div class="clearfix"> </div>
</div>
<!--slide bar menu end here-->
<script>
var toggle = true;
            
$(".sidebar-icon").click(function() {                
  if (toggle)
  {
    $(".page-container").addClass("sidebar-collapsed").removeClass("sidebar-collapsed-back");
    $("#menu span").css({"position":"absolute"});
  }
  else
  {
    $(".page-container").removeClass("sidebar-collapsed").addClass("sidebar-collapsed-back");
    setTimeout(function() {
      $("#menu span").css({"position":"relative"});
    }, 400);
  }               
                toggle = !toggle;
            });
</script>
<!--scrolling js-->
		<script src="<?php echo __ADMIN_JS__ ;?>jquery.nicescroll.js"></script>
		<script src="<?php echo __ADMIN_JS__ ;?>scripts.js"></script>
		<!--//scrolling js-->
<script src="<?php echo __ADMIN_JS__ ;?>bootstrap.js"> </script>

<script src="<?php echo __ADMIN_JS__ ;?>jquery-2.1.1.min.js"></script>


<script src="<?php echo __ADMIN_JS__ ;?>bootstrap-table.js"></script>
<!-- mother grid end here-->




</body>
</html>


                      
						
