<div class="sidebar-menu">
    <div class="logo"> <a href="#" class="sidebar-icon"> <span class="fa fa-bars"></span> </a> <a href="#"> <span id="logo" ></span>
        <!--<img id="logo" src="" alt="Logo"/>-->
    </a> </div>
    <div class="menu">
        <ul id="menu" >
            <li id="menu-home" ><a href="index.php?g=admin&c=main&a=main"><i class="fa fa-tachometer"></i><span>后台首页</span></a></li>

            <li><a href="#"><i class="fa fa-shopping-cart"></i><span>订单管理</span><span class="fa fa-angle-right" style="float: right"></span></a>
                <ul id="menu-academico-sub" >
                    <li id="menu-academico-avaliacoes" ><a href="index.php?g=admin&c=order&a=order">全部订单</a></li>
                    <li id="menu-academico-avaliacoes" ><a href="index.php?g=admin&c=sendgoods&a=sendgoods">已发货订单</a></li>
                    <li id="menu-academico-boletim" ><a href="index.php?g=admin&c=unsendgoods&a=unsendgoods">未发货订单</a></li>
                </ul>
            </li>
            <li><a href="#"><i class="fa fa-cogs"></i><span>用户管理</span><span class="fa fa-angle-right" style="float: right"></span></a>
                <ul>
                    <li><a href="index.php?g=admin&c=userinfo&a=userinfo">用户信息列表</a></li>
                    <!--<li><a href="index.php?g=admin&c=useradress&a=useradress">收货地址列表</a></li>-->
                    <!--<li><a href="index.php?g=admin&c=main&a=addadress">添加收货地址</a></li>-->

                </ul>
            </li>



            <li><a href="index.php?g=admin&c=main&a=charts"><i class="fa fa-bar-chart"></i><span >报表显示</span><span class="fa fa-angle-right" style="float: right"></span></a>
            <ul>
                <li><a href="index.php?g=admin&c=charts&a=charts">商品库存表</a></li>
                <!--<li><a href="index.php?g=admin&c=main&a=charts">日销量报表</a></li>-->
                <li><a href="index.php?g=admin&c=charts&a=charts">月销量报表</a></li>
                <!--<li><a href="index.php?g=admin&c=main&a=charts">季度销量报表</a></li>-->
                <!--<li><a href="index.php?g=admin&c=main&a=charts">年度销量报表</a></li>-->
                <li><a href="index.php?g=admin&c=charts&a=charts">利润表</a></li>
            </ul>
            </li>
            <li><a href="#"><i class="fa fa-shopping-cart"></i><span>商品管理</span><span class="fa fa-angle-right" style="float: right"></span></a>
                <ul id="menu-academico-sub" >
                    <li id="menu-academico-avaliacoes" ><a href="index.php?g=admin&c=onlinegoods&a=onlinegoods">已上线商品列表</a></li>
                    <li id="menu-academico-avaliacoes" ><a href="index.php?g=admin&c=addgoods&a=addgoods">添加商品列表</a></li>
                    <li id="menu-academico-boletim" ><a href="index.php?g=admin&c=addgoods&a=addgoods">商品种类列表</a></li>
                    <li id="menu-academico-boletim" ><a href="index.php?g=admin&c=addgoods&a=addgoods">商品名称列表</a></li>
                    <li id="menu-academico-boletim" ><a href="index.php?g=admin&c=addgoods&a=addgoods">商品颜色列表</a></li>
                    <li id="menu-academico-boletim" ><a href="index.php?g=admin&c=addgoods&a=addgoods">商品尺码列表</a></li>
                </ul>
            </li>
            <li><a href="#"><i class="fa fa-envelope"></i><span>留言管理</span><span class="fa fa-angle-right" style="float: right"></span></a>
                <ul id="menu-academico-sub" >
                    <li id="menu-academico-avaliacoes" ><a href="index.php?g=admin&c=gbmgr&a=gbmgr">留言列表</a></li>
                    <li id="menu-academico-boletim" ><a href="index.php?g=admin&c=gbmgr&a=inbox">写信</a></li>
                </ul>
            </li>


            <li><a href="#"><i class="fa fa-cog"></i><span>系统问题</span><span class="fa fa-angle-right" style="float: right"></span></a>
                <ul id="menu-academico-sub" >
                    <li id="menu-academico-avaliacoes" ><a href="index.php?g=admin&c=main&a=bsos">404错误</a></li>
                    <li id="menu-academico-boletim" ><a href="index.php?g=admin&c=main&a=blank">空白错误</a></li>
                </ul>
            </li>
            <li id="menu-academico" ><a href="#"><i class="fa fa-file-text"></i><span>管理员切换</span><span class="fa fa-angle-right" style="float: right"></span></a>
                <ul id="menu-academico-sub" >
                    <li id="menu-academico-boletim" ><a href="index.php?g=admin&c=login&a=index">登陆</a></li>
                    <li id="menu-academico-avaliacoes" ><a href="index.php?g=admin&c=login&a=logout">注销</a></li>
                </ul>
            </li>

        </ul>
    </div>
</div>