<!DOCTYPE html>
<html>
<head>
<title>网站首页</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Classic Style Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
<link href="<?php echo __HOME_CSS__; ?>bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href="<?php echo __HOME_CSS__; ?>style.css" rel="stylesheet" type="text/css" media="all" />
<!-- js -->
<script src="<?php echo __HOME_JS__; ?>jquery.min.js"></script>
<!-- //js -->
<!-- cart -->
<script src="<?php echo __HOME_JS__; ?>simpleCart.min.js"></script>
<!-- cart -->
<!-- for bootstrap working -->
<script type="text/javascript" src="<?php echo __HOME_JS__; ?>bootstrap-3.1.1.min.js"></script>
<!-- //for bootstrap working -->
<!-- animation-effect -->
<link href="<?php echo __HOME_CSS__; ?>animate.min.css" rel="stylesheet"> 
<script src="<?php echo __HOME_JS__; ?>wow.min.js"></script>
<script>
 new WOW().init();
</script>
<!-- //animation-effect -->
<!--<link href='https://fonts.googleapis.com/css?family=Cabin:400,500,600,700' rel='stylesheet' type='text/css'>-->
<!--<link href='https://fonts.googleapis.com/css?family=Lato:400,100,300,700,900' rel='stylesheet' type='text/css'>-->
</head>
	
<body>
<!-- header -->
<?php include_once __HOME_COMMON__."header.html"; ?>
<!-- //header -->


<!-- banner -->
	<div class="banner">
	
	
	<div class="banner-right">
					<ul id="flexiselDemo2">			
						<li><div class="banner-grid">
						<h2>新品展示</h2>
						<div class="wome">
								<a href="index.php?g=home&c=user&a=single" ><img class="img-responsive" src="<?php echo __HOME_IMAGES__; ?>bi1.jpg" alt="" />
								</a>
								<div class="women simpleCart_shelfItem">
									<a href="#"><img src="<?php echo __HOME_IMAGES__; ?>ll.png" alt=""></a>
									<h6 ><a href="index.php?g=home&c=user&a=single">经典T-Shirts</a></h6>
									<p class="ba-price"><del>$100.00</del><em class="item_price">$70.00</em></p>
									<a href="#" data-text="Add To Cart" class="but-hover1 item_add">加入购物车</a>
								</div>							
								</div>							
							</div></li>
						<li><div class="banner-grid">
						<h2>新品展示</h2>
						<div class="wome">
								<a href="index.php?g=home&c=user&a=single" ><img class="img-responsive" src="<?php echo __HOME_IMAGES__; ?>bi.jpg" alt="" />
								</a>	
								<div class="women simpleCart_shelfItem">
									<a href="#"><img src="<?php echo __HOME_IMAGES__; ?>ll.png" alt=""></a>
									<h6 ><a href="index.php?g=home&c=user&a=single">格子围巾</a></h6>
									<p class="ba-price"><del>$100.00</del><em class="item_price">$70.00</em></p>
									<a href="#" data-text="Add To Cart" class="but-hover1 item_add">加入购物车</a>
								</div>						
								</div>						
							</div></li>
						<li><div class="banner-grid">
						<h2>新品展示</h2>
						<div class="wome">
								<a href="index.php?g=home&c=user&a=single" ><img class="img-responsive" src="<?php echo __HOME_IMAGES__; ?>bi2.jpg" alt="" />
								</a>	
								<div class="women simpleCart_shelfItem">
									<a href="#"><img src="<?php echo __HOME_IMAGES__; ?>ll.png" alt=""></a>
									<h6 ><a href="index.php?g=home&c=user&a=single">亮黑眼影</a></h6>
									<p class="ba-price"><del>$100.00</del><em class="item_price">$70.00</em></p>
									<a href="#" data-text="Add To Cart" class="but-hover1 item_add">加入购物车</a>
								</div>						
								</div>						
							</div></li>
						
					
					</ul>
					<script type="text/javascript">
		$(window).load(function() {
			$("#flexiselDemo2").flexisel({
				visibleItems: 1,
				animationSpeed: 1000,
				autoPlay: true,
				autoPlaySpeed: 5000,    		
				pauseOnHover: true,
				enableResponsiveBreakpoints: true,
		    	responsiveBreakpoints: { 
		    		portrait: { 
		    			changePoint:480,
		    			visibleItems: 1
		    		}, 
		    		landscape: { 
		    			changePoint:640,
		    			visibleItems: 1
		    		},
		    		tablet: { 
		    			changePoint:768,
		    			visibleItems: 1
		    		}
		    	}
		    });
		    
		});
	</script>
		<script type="text/javascript" src="<?php echo __HOME_JS__; ?>jquery.flexisel.js"></script>

					</div>

				
				</div>

	</div>
<!-- //banner -->
<!--content-->
		<div class="content">
		<div class="content-head">
					
					<div class="col-md-6 col-m1 animated wow fadeInLeft" data-wow-delay=".1s">
						<div class="col-1">
						<div class="col-md-6 col-2">
							<a href="index.php?g=home&c=user&a=single"><img src="<?php echo __HOME_IMAGES__; ?>pi3.jpg" class="img-responsive" alt="">
							</a></div>
							<div class="col-md-6 col-p">
								<h5>欧式太阳帽</h5>
								<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
								praesentium voluptatum deleniti atque</p>
								<a href="index.php?g=home&c=user&a=single" class="shop" data-hover="立即购买">立即购买</a>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="col-1">
						<div class="col-md-6 col-p">
								<h5>男装衣柜</h5>
								<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
								praesentium voluptatum deleniti atque</p>
								<a href="index.php?g=home&c=user&a=single" class="shop" data-hover="立即购买">立即购买</a>
							</div>
						<div class="col-md-6 col-2">
							<a href="index.php?g=home&c=user&a=single"><img src="<?php echo __HOME_IMAGES__; ?>pi.jpg" class="img-responsive" alt="">
							</a></div>
							<div class="clearfix"> </div>
						</div>
						</div>
					
					<div class="col-md-6 col-m2 animated wow fadeInRight" data-wow-delay=".1s">
					
						<!---->
						 <!-- requried-jsfiles-for owl -->
							<link href="<?php echo __HOME_CSS__; ?>owl.carousel.css" rel="stylesheet">
							    <script src="<?php echo __HOME_JS__; ?>owl.carousel.js"></script>
							        <script>
									    $(document).ready(function() {
									      $("#owl-demo").owlCarousel({
									        items : 2,
									        lazyLoad : false,
									        autoPlay : true,
									        navigation : true,
									        navigationText :  true,
									        pagination : false,
									      });
									    });
									  </script>
							 <!-- //requried-jsfiles-for owl -->
							 <!-- start content_slider -->
						       <div id="owl-demo" class="owl-carousel">
					                <div class="item">					                	 
										  
											<a href="index.php?g=home&c=user&a=single"><img class="img-responsive" src="<?php echo __HOME_IMAGES__; ?>bb.png" alt="" /></a>
											<a href="index.php?g=home&c=user&a=single" class="shop-2" >立即购买</a>
								
					                </div>
									<div class="item">					                	  
										
											<a href="index.php?g=home&c=user&a=single"><img class="img-responsive" src="<?php echo __HOME_IMAGES__; ?>bb1.png" alt="" /></a>
											<a href="index.php?g=home&c=user&a=single" class="shop-2">立即购买</a>
																		
					                </div>
									
									<div class="item">					                	 
									
											<a href="index.php?g=home&c=user&a=single"><img class="img-responsive" src="<?php echo __HOME_IMAGES__; ?>bb.png" alt="" /> </a>
											<a href="index.php?g=home&c=user&a=single" class="shop-2">立即购买</a>
																			
					                </div>
									<div class="item">					                	  
										
											<a href="index.php?g=home&c=user&a=single"><img class="img-responsive" src="<?php echo __HOME_IMAGES__; ?>bb1.png" alt="" /></a>
											<a href="index.php?g=home&c=user&a=single" class="shop-2">立即购买</a>
																		
					                </div>
							</div>
					   </div>
					   <div class="clearfix"></div>
			</div>	
					</div>
				
			<!---->
			
				<div class="content-top">
					<div class="col-md-5 col-md1 animated wow fadeInLeft" data-wow-delay=".1s">
						<div class="col-3">
							<a href="index.php?g=home&c=user&a=single"><img src="<?php echo __HOME_IMAGES__; ?>pi1.jpg" class="img-responsive " alt="">
							<div class="col-pic">	
								<h5> 女士 穿搭</h5>
								<p>At vero eos et accusamus et</p>
							</div></a>
						</div>
						
					</div>
					<div class="col-md-7 col-md2 animated wow fadeInRight" data-wow-delay=".1s">
						<div class="col-sm-4 item-grid simpleCart_shelfItem">
							<div class="grid-pro">
								<div  class=" grid-product " >
									<figure>		
										<a href="index.php?g=home&c=user&a=single">
											<div class="grid-img">
												<img  src="<?php echo __HOME_IMAGES__; ?>pr1.jpg" class="img-responsive" alt="">
											</div>
											<div class="grid-img">
												<img  src="<?php echo __HOME_IMAGES__; ?>pr.jpg" class="img-responsive"  alt="">
											</div>			
										</a>		
									</figure>	
								</div>
								<div class="women">
									<a href="#"><img src="<?php echo __HOME_IMAGES__; ?>ll.png" alt=""></a>
									<h6><a href="index.php?g=home&c=user&a=single">情侣T-Shorts</a></h6>
									<p ><del>$100.00</del><em class="item_price">$70.00</em></p>
									<a href="#" data-text="Add To Cart" class="but-hover1 item_add">加入购物车</a>
								</div>
							</div>
						</div>
				
						<div class="col-sm-4 item-grid simpleCart_shelfItem">
							<div class="grid-pro">
								<div  class=" grid-product " >
									<figure>		
										<a href="index.php?g=home&c=user&a=single">
											<div class="grid-img">
												<img  src="<?php echo __HOME_IMAGES__; ?>pr3.jpg" class="img-responsive" alt="">
											</div>
											<div class="grid-img">
												<img  src="<?php echo __HOME_IMAGES__; ?>pr2.jpg" class="img-responsive"  alt="">
											</div>			
										</a>		
									</figure>	
								</div>
								<div class="women">
									<a href="#"><img src="<?php echo __HOME_IMAGES__; ?>ll.png" alt=""></a>
									<h6><a href="index.php?g=home&c=user&a=single">纯黑牛仔</a></h6>
									<p ><del>$100.00</del><em class="item_price">$70.00</em></p>
									<a href="#" data-text="Add To Cart" class="but-hover1 item_add">加入购物车</a>
								</div>
							</div>
						</div>
						<div class="col-sm-4 item-grid simpleCart_shelfItem">
						<div class="grid-pro">
								<div  class=" grid-product " >
									<figure>		
										<a href="index.php?g=home&c=user&a=single">
											<div class="grid-img">
												<img  src="<?php echo __HOME_IMAGES__; ?>pr5.jpg" class="img-responsive" alt="">
											</div>
											<div class="grid-img">
												<img  src="<?php echo __HOME_IMAGES__; ?>pr4.jpg" class="img-responsive"  alt="">
											</div>			
										</a>		
									</figure>	
								</div>
								<div class="women">
									<a href="#"><img src="<?php echo __HOME_IMAGES__; ?>ll.png" alt=""></a>
									<h6><a href="index.php?g=home&c=user&a=single">小牛皮挎包</a></h6>
									<p ><del>$100.00</del><em class="item_price">$70.00</em></p>
									<a href="#" data-text="Add To Cart" class="but-hover1 item_add">加入购物车</a>
								</div>
							</div>
						</div>
					<div class="clearfix"></div>
					</div>
					<div class="clearfix"></div>
				</div>
				<!----->
				<!---->
				<div class="content-top">
					
					<div class="col-md-7 col-md2 animated wow fadeInLeft" data-wow-delay=".1s">
						<div class="col-sm-4 item-grid simpleCart_shelfItem">
							<div class="grid-pro">
								<div  class=" grid-product " >
									<figure>		
										<a href="index.php?g=home&c=user&a=single">
											<div class="grid-img">
												<img  src="<?php echo __HOME_IMAGES__; ?>pr6.jpg" class="img-responsive" alt="">
											</div>
											<div class="grid-img">
												<img  src="<?php echo __HOME_IMAGES__; ?>pr7.jpg" class="img-responsive"  alt="">
											</div>			
										</a>		
									</figure>	
								</div>
								<div class="women">
									<a href="#"><img src="<?php echo __HOME_IMAGES__; ?>ll.png" alt=""></a>
									<h6><a href="index.php?g=home&c=user&a=single">运动腕表</a></h6>
									<p ><del>$100.00</del><em class="item_price">$70.00</em></p>
									<a href="#" data-text="Add To Cart" class="but-hover1 item_add">加入购物车</a>
								</div>
							</div>
							
						</div>
				
						<div class="col-sm-4 item-grid simpleCart_shelfItem">
							<div class="grid-pro">
								<div  class=" grid-product " >
									<figure>		
										<a href="index.php?g=home&c=user&a=single">
											<div class="grid-img">
												<img  src="<?php echo __HOME_IMAGES__; ?>pr9.jpg" class="img-responsive" alt="">
											</div>
											<div class="grid-img">
												<img  src="<?php echo __HOME_IMAGES__; ?>pr8.jpg" class="img-responsive"  alt="">
											</div>			
										</a>		
									</figure>	
								</div>
								<div class="women">
									<a href="#"><img src="<?php echo __HOME_IMAGES__; ?>ll.png" alt=""></a>
									<h6><a href="index.php?g=home&c=user&a=single">Gucci联名T-Shorts</a></h6>
									<p ><del>$100.00</del><em class="item_price">$70.00</em></p>
									<a href="#" data-text="Add To Cart" class="but-hover1 item_add">加入购物车</a>
								</div>
							</div>
						</div>
						<div class="col-sm-4 item-grid simpleCart_shelfItem">
						<div class="grid-pro">
								<div  class=" grid-product " >
									<figure>		
										<a href="index.php?g=home&c=user&a=single">
											<div class="grid-img">
												<img  src="<?php echo __HOME_IMAGES__; ?>pr10.jpg" class="img-responsive" alt="">
											</div>
											<div class="grid-img">
												<img  src="<?php echo __HOME_IMAGES__; ?>pr11.jpg" class="img-responsive"  alt="">
											</div>			
										</a>		
									</figure>	
								</div>
								<div class="women">
									<a href="#"><img src="<?php echo __HOME_IMAGES__; ?>ll.png" alt=""></a>
									<h6><a href="index.php?g=home&c=user&a=single">NIKE新款气垫</a></h6>
									<p ><del>$100.00</del><em class="item_price">$70.00</em></p>
									<a href="#" data-text="Add To Cart" class="but-hover1 item_add">加入购物车</a>
								</div>
							</div>
						</div>
					<div class="clearfix"></div>
					</div>
					<div class="col-md-5 col-md1 animated wow fadeInRight" data-wow-delay=".1s">
						<div class="col-3">
							<a href="index.php?g=home&c=user&a=single"><img src="<?php echo __HOME_IMAGES__; ?>pi2.jpg" class="img-responsive " alt="">
							<div class="col-pic">
								<h5> 男士 穿搭</h5>
								<p>At vero eos et accusamus et</p>
							</div></a>
						</div>
						
					</div>
					<div class="clearfix"></div>
				</div>
			
			
				<!--products-->


<!-- footer -->
<?php include_once __HOME_COMMON__."footer.html"; ?>
<!-- //footer -->
</body>
</html>