<div class="social animated wow fadeInUp" data-wow-delay=".1s">
    <div class="container">
        <div class="col-sm-3 social-ic">
            <a href="#">急速配送</a>
        </div>
        <div class="col-sm-3 social-ic">
            <a href="#">专注细节</a>
        </div>
        <div class="col-sm-3 social-ic">
            <a href="#">私人订制</a>
        </div>
        <div class="col-sm-3 social-ic">
            <a href="#">全面售后</a>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!-- footer -->
<div class="footer">
    <div class="container">
        <div class="footer-top">
            <div class="col-md-9 footer-top1">
                <h4>我们在寻找志同道合的伙伴 </h4>
                <p>我们真诚的欢迎每一个希望加入我们的人，在平等、有爱的classicstyle工作，除了良好的氛围，
                    更可以与业界最优秀、最有创造力的一群人共事，加入classicstyle，迎接更好的自己。</p>
            </div>
            <div class="col-md-3 footer-top2">
                <a href="index.php?g=home&c=index&a=contact">联系我们</a>
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="footer-grids">
            <div class="col-md-4 footer-grid animated wow fadeInLeft" data-wow-delay=".5s">
                <h3>关于我们</h3>
                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse.<span>Excepteur sint occaecat cupidatat
						non proident, sunt in culpa qui officia deserunt mollit.</span></p>
            </div>
            <div class="col-md-4 footer-grid animated wow fadeInLeft" data-wow-delay=".6s">
                <h3>联系方式</h3>
                <ul>
                    <li><i class="glyphicon glyphicon-map-marker" ></i>1234k Avenue, 4th block, <span>New York City.</span></li>
                    <li class="foot-mid"><i class="glyphicon glyphicon-envelope" ></i><a href="mailto:info@example.com">info@example.com</a></li>
                    <li><i class="glyphicon glyphicon-earphone" ></i>+1234 567 567</li>
                </ul>
            </div>
            <div class="col-md-4 footer-grid animated wow fadeInLeft" data-wow-delay=".7s">
                <h3>简易注册 </h3>
                <form>
                    <input type="text" placeholder="Email"  required="">
                    <input type="submit" value="Submit">
                </form>

            </div>

            <div class="clearfix"> </div>
        </div>

    </div>
</div>
<!-- //footer -->